*.swp
*.pyc
*.json
information_retrieval/retrieval_app/functions/json_stemming.json
information_retrieval/retrieval_app/functions/example.json
information_retrieval/retrieval_app/functions/corpus.mm
information_retrieval/retrieval_app/functions/corpus.mm.index
information_retrieval/retrieval_app/functions/corpus_tfidf.mm
information_retrieval/retrieval_app/functions/words_dict.dict
information_retrieval/retrieval_app/functions/tst
information_retrieval/retrieval_app/functions/tst.0
